{% extends 'formulario.html' %}
{% load static %}

{% block controls %}
    <div class="col-md-2">
        <label for="inputAddress" class="form-label">id</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-5">
        <label for="inputAddress" class="form-label">Mayor</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-5">
        <label for="inputAddress" class="form-label">Diario</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-4">
        <label for="inputAddress" class="form-label">Cuenta</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-4">
        <label for="inputAddress" class="form-label">Debe</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-4">
        <label for="inputAddress" class="form-label">Haber</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-6 col-lg-5">
      <label for="exampleFormControlTextarea1" class="form-label">Concepto</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

{% endblock %}
