{% extends 'formulario.html' %}
{% load static %}

{% block controls %}
    <div class="col-md-2">
        <label for="inputAddress" class="form-label">id</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-5">
        <label for="inputAddress" class="form-label">Mayor</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-5">
        <label for="inputAddress" class="form-label">Cuenta</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-4">
        <label for="inputAddress" class="form-label">Saldo Inicial</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-4">
        <label for="inputAddress" class="form-label">Debe</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-4">
        <label for="inputAddress" class="form-label">Haber</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-4">
        <label for="inputAddress" class="form-label">Saldo Final</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>

{% endblock %}